@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Spinnaker&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family:"Noto Sans JP", "sans-serif", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  /*color: #FC474C;*/
  color: #54BEE8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hover-action:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  transform: translate(0, -4px);
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  /*font-family: "Open sans", sans-serif;*/
  font-family: 'Spinnaker', sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
  letter-spacing: 0.5rem;
  color: #777;
}

.section-heading {
  margin-bottom: 20px;
  text-align: center;
}

.section-lead {
  margin-bottom: 30px;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 150px;
}

.section {
  padding: 90px 0;
}

.section:nth-of-type(even) {
  background-color: #EFEFEE;
}

.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  background-image:url(../img/sola.jpg);
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  color: #fff;
}

.logo-title {
  font-family: 'Cabin Sketch', cursive;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.25rem;
}

/*.red {*/
/*  color: #fc474c;*/
/*}*/

/*.yellow {*/
/*  color:#f8ff02;*/
/*}*/

.logo-subtitle {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.35rem;
  font-family: 'Spinnaker', sans-serif;
  font-weight: normal;
}


/*--------------------------------
 menuボタン
---------------------------------*/
.menu-btn {
  position: fixed;
  right: 5%;
  top: 3%;
}

.menu-btn i {
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

.menu-li {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image:url(../img/sola.jpg);
  top: 0;
  left: 0;
  text-align: center;
  z-index: 9999;
  padding-top: 25vh;
}

.menu-li img {
    position: fixed;
    right: 10%;
    top: 10%;
    cursor: pointer;
    width: 3%;
}

.min-link {
  font-family: 'Spinnaker', sans-serif;
  font-size: 2.0rem;
  letter-spacing: 0.5rem;
  color: #333;
}

.min-link:hover {
  opacity: 0.6;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav {
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*z-index: 100;*/
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  /*font-family: "Open sans", sans-serif;*/
  font-family: 'Spinnaker', sans-serif;
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: 0.2rem;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #333;
  font-size: 100%;
}

.gnav-link:hover {
  opacity: 1;
}

.gnav-link:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*background-color: #333;*/
  background-color: #fc474c;
}

.gnav-link:hover:after {
  width: 100%;
}

/* iOS対策 */
.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}



/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
  margin-left: 8%;
}

.works-item {
    flex: 0 0 29.31552%;
    margin-right: 2.52671%;
    margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
  /*margin-top: 0.8rem;*/
}

.works-url {
  font-size: 10px;
}

.works-url-link:hover {
  opacity: 0.7;
}

.works-image.fadein {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.works-image.fadein.lazyloaded {
  opacity: 1;
}

/*--------------------------------
 Feature
---------------------------------*/
.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-image-wrapper {
  flex: 0 0 45%;
  margin-right: 40px;
}

.feature-body {
  flex: 1;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*align-items: center;*/
}

.about-image-wrapper {
  flex: 0 0 220px;
  margin-right: 40px;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 0 25px 0 #d9d9d9;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

.spin-font {
  font-family: 'Spinnaker', sans-serif;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.skill-image-wrapper {
  flex: 0 0 60px;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 3px;
}

.rate {
  position: relative;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 20px;
  letter-spacing: .3em;
}

.rate:before,
.rate:after {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  display: inline-block;
  height: 20px;
  content: "★★★★★";
}

.rate:before {
  color: #ddd;
}

.rate:after {
  overflow: hidden;
  white-space: nowrap;
  color: #fc474c;
}

.rate1:after {
  width: 20px;
}

.rate2:after {
  width: 40px;
}

.rate3:after {
  width: 60px;
}

.rate4:after {
  width: 80px;
}

.rate5:after {
  width: 100px;
}

.curriculum {
  margin-top: 3.5rem;
}

.curriculum-head {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2.0rem;
}

.curriculum-body {
  display: flex;
  justify-content: space-between;
}

.skill-wrp1 {
  width:30%;
}

.skill-wrp2 {
  width:39%;
}

.skill-wrp3 {
  width:21%;
}

.skill-lead-head {
  font-size: 90%;
  margin-bottom: 0.6rem;
}

.skill-li li {
  list-style: square;
  list-style: inside;
  font-size: 85%;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 50px;
  margin: 0 20px;
  text-align: center;
}

.contact-text {
  margin-top: 10px;
  text-align: center;
}

.contact-text p {
  display: inline-block;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  /*background-color: #1d1d1d;*/
  background-image:url(../img/sola.jpg);
}

.footer .inner {
  padding: 140px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #fff;
}

.pageup {
  position: fixed;
  right: 6%;
  bottom: 3%;
  cursor: pointer;
}

.pageup img {
  width: 60%;
  display: block;
  margin-left: 40%;
}

.pageup:hover {
  opacity: 0.7;
}



/*media Queries 1023
----------------------------------------------------*/
@media screen and (max-width: 1023px) {
  
  .curriculum-body {
    flex-direction: column;
    padding: 0 24%;
  }
  
  .skill-wrp1,.skill-wrp2,.skill-wrp3 {
    width: 100%;
    margin-bottom: 1.5rem;
  } 
  
}



/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .hover-action {
    -webkit-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
  }

  /* 文字 */
  .section-heading {
    margin-bottom: 20px;
  }

  .heading-primary {
    font-size: 22px;
    color:#777;
    /*font-family: 'Spinnaker', sans-serif;*/
    font-family: 'Spinnaker', sans-serif;
    letter-spacing: 0.5rem;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 0;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  /* ヘッダー */
  .header {
    height: 100vh;
  }

  .logo-title {
    font-size: 13px;
    letter-spacing: 0.25rem;
    font-family: 'Cabin Sketch', cursive;
  }

  .logo-subtitle {
    font-size: 18px;
    font-family: 'Spinnaker', sans-serif;
    font-weight: normal;
    letter-spacing: 0.35rem;
  }

  /* グローバルナビ */
  .gnav {
    padding: 15px 0;
  }

  .gnav-item {
    font-size: 13px;
    padding: 2px 15px;
    letter-spacing: 0.2rem;
  }

  .gnav-link {
    color: #333;
    padding: 0;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  .gnav-link:after {
    display: none;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    /*flex-direction: column;*/
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* About */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  /* Skill */
  
  /*.sp-left {*/
  /*  text-align: left;*/
  /*}*/
  
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  .rate {
    font-size: 15px;
    height: 15px;
  }

  .rate:before,
  .rate:after {
    line-height: 15px;
    height: 15px;
  }

  .rate1:after {
    width: 15px;
  }

  .rate2:after {
    width: 35px;
  }

  .rate3:after {
    width: 55px;
  }

  .rate4:after {
    width: 75px;
  }

  .rate5:after {
    width: 95px;
  }
  
  .curriculum-body {
    flex-direction: column;
    padding: 0 3%;
  }
  

  /* Contact */
  .contact-item {
    width: 40px;
    margin: 0 10px;
  }
  
  /* pageアップボタン*/
  .pageup img {
    width: 40%;
    display: block;
    margin-left: 60%;
  }
  
  /* menuボタン */
  
  .menu-btn img {
    width: 25%;
    margin-left: 75%;
  }
  
  .menu-li img {
    width: 5%;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}
